@use "./../base";

.Date {
  @include base.text-normal;
  font-size: base.$svg-date-fontsize;
  text-align: right;
  letter-spacing: -0.05em;

  &--holiday {
    fill: base.$svg-holiday-color;
  }

  &--workday {
    fill: base.$svg-base-color;
  }
}
