@use "./../base";

.WeekDay {
  @include base.text-normal;
  font-size: base.$svg-weekday-fontsize;
}
.WeekDay--holiday {
  fill: base.$svg-holidayHeader-color;
}

.WeekDay--workday {
  fill: base.$svg-base-color;
}
