// ----- svg -----
$svg-base-color: #595757;
$svg-label-color: #9fa0a0;
$svg-holiday-color: #e60012;
$svg-holidayHeader-color: #e60012;
$svg-frame-color: #898989;

$svg-year-fontsize: 47px;
$svg-month-fontsize: 88px;
$svg-oldmonth-fontsize: 25px;
$svg-weekday-fontsize: 19px;
$svg-label-fontsize: 12px;
$svg-date-fontsize: 25px;

@mixin text-thin {
  font-family: "M PLUS 1p";
  font-weight: 200;
}

@mixin text-normal {
  font-family: "M PLUS 1p";
  font-weight: 300;
}

@mixin text-bold {
  font-family: "M PLUS 1p";
  font-weight: 500;
}
